th {
  text-align: center;
}

audio {
  max-width: 100%;
}

.playing {
  color: #159957;
}

.fa {
  line-height: 1.5em;
}

.btn {
  font-size: 1.1em;
}

td {
  text-align: center;
}

.hanzi {
  font-family: "KaiTi", "楷体", STKaiti, "华文楷体", serif;
  font-size: 25px;
  color: black;
}

.pinyin {
  color: black;
}

.meaning {
  font-family: "Times New Roman", Helvetica, serif;
}
