<div class="main-content" ng-controller="WritingLessonController">
  <h2>Lesson {{lessonId}}: {{lessonTopic}}</h2>
  <h3>Revision</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-1">#</th>
        <th class="col-md-3">New Words</th>
        <th class="col-md-3">Pīnyīn</th>
        <th class="col-md-2">Audio</th>
        <th class="col-md-3">Meaning</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="word in shengci">
        <td class="col-md-1">{{$index+1}}</td>
        <td class="col-md-3 hanzi">{{word.hanzi}}</td>
        <td class="col-md-3 pinyin">{{word.pinyin}}</t>
        <td class="col-md-2">
          <i class="fa fa-play-circle-o" ng-click="playAudio(word.audio)">
          </i>
        </td>
        <td class="col-md-3 meaning">{{word.meaning}}</td>
      </tr>
    </tbody>
  </table>
  <div style="text-align: center">
    <a ui-sref="app.writing.lesson.question({lessonId: {{lessonId}}, questionId: 1})">
    <button type="button" class="btn btn-success">Start writing</button></a>
  </div>
</div>
