<div class="main-content">
  <h3>Saturday, December 3, 2016</h3>
  <ul>
    <li>
      Update lesson 13 -> 19
    </li>
    <li>
      Me after Mid-term exam be like
      <iframe width="560" height="315" src="https://www.youtube.com/embed/5FjWe31S_0g" frameborder="0" allowfullscreen></iframe>
    </li>
  </ul>
  <h3>Saturday, November 5, 2016</h3>
  <ul>
    <li>
      Update lesson 12
    </li>
    <li>
      Change Hanzi font for better reading
    </li>
  </ul>
  <h3>Sunday, October 30, 2016</h3>
  <ul>
    <li>
      Update lesson 10 + 11
    </li>
  </ul>
  <h3>Friday, October 21, 2016</h3>
  <ul>
    <li>
      Update lesson 8 + 9
    </li>
    <li>
      祝我生日快乐！
    </li>
  </ul>
  <h3>Saturday, October 15, 2016</h3>
  <ul>
    <li>Update lesson 6 + 7</li
    <li>ManChi now use Microsoft Translator API instead of Google Translator API</li>
    <li>
      Now you can find me at thankyou page after finishing a lesson dictation
    </li>
  </ul>
  <h3>Thursday, October 13, 2016</h3>
  <blockquote>
    <p>
      How many nights does it take to count the stars? <br />
      That's the time it would take to fix my bugs.
      <footer>
        <strong>Infinity</strong> - One Direction
      </footer>
    </p>
  </blockquote>
  <ul>
    <li>
      Add audiobook page including Pinyin Overview, Pronunciation of Initials and Finals.
    </li>
  </ul>
  <h3>Tuesday, October 11, 2016</h3>
  <ul>
    <li>
      Update lesson 5
    </li>
  </ul>
  <h3>Sunday, October 9, 2016</h3>
  <ul>
    <li>
      Change header buttons and add changelog page
    </li>
    <li>
      Show hint message will appear after 30 second
    </li>
    <li>
      Add progress bar
    </li>
    <li>
      Update lesson 3 + 4
    </li>
  </ul>
  <h3>Tuesday, October 4, 2016</h3>
  <ul>
    <li>
      First release
    </li>
    <li>
      Update lesson 1 + 2
    </li>
  </ul>
</div>
