<div class="main-content">
  <h3>Thursday, October 13, 2016</h3>
  <blockquote>
    <p>
      How many nights does it take to count the stars? <br />
      That's the time it would take to fix my bugs.
      <footer>
        <strong>Infinity</strong> - One Direction
      </footer>
    </p>
  </blockquote>
  <ul>
    <li>
      Add audiobook page including Pinyin Overview, Pronunciation of Initials and Finals.
    </li>
  </ul>
  <h3>Tuesday, October 11, 2016</h3>
  <ul>
    <li>
      Update lesson 5
    </li>
  </ul>
  <h3>Sunday, October 9, 2016</h3>
  <ul>
    <li>
      Change header buttons and add changelog page
    </li>
    <li>
      Show hint message will appear after 30 second
    </li>
    <li>
      Add progress bar
    </li>
    <li>
      Update lesson 3 + 4
    </li>
  </ul>
  <h3>Tuesday, October 4, 2016</h3>
  <ul>
    <li>
      First release
    </li>
    <li>
      Update lesson 1 + 2
    </li>
  </ul>
</div>
